########################
# TYPO3 CMS
# global ignore file
########################

# Ignore by common IDEs used directories/files

*.idea
#
# Temporary files and folders
/.cache
.php_cs.cache
.php-cs-fixer.cache
.sass-cache
.session
*.log
#
# Ignore build stuff

public/typo3/sysext/*/Resources/Private/TypeScript/*.js
public/typo3/sysext/*/Resources/Public/JavaScript/*.js.map
public/typo3/sysext/core/Tests/AcceptanceTests-Job-*



#
# Ignore common TYPO3 CMS files/directories

!/typo3conf/ext
/typo3conf/ext/*
public/fileadmin/*
/uploads/*
public/FIRST_INSTALL
#
# root .htaccess file
public/.htaccess


# Ignore files generat
/public/index.php
/public/typo3/index.php
/public/typo3/install.php
/public/typo3temp/*
/public/typo3conf/*
/public/*
/var
/vendor/*
/config/sites/*
/local_files
/docker/mysql/*
/packages/mywebsite/Resources/Private/template-html-files/assets/favicon.ico
/packages/mywebsite/Resources/Private/template-html-files/assets/profile.png
/packages/mywebsite/Resources/Private/template-html-files/css/styles.css
/packages/mywebsite/Resources/Private/template-html-files/js/scripts.js
/packages/mywebsite/Resources/Private/template-html-files/contact.html
/packages/mywebsite/Resources/Private/template-html-files/index.html
/packages/mywebsite/Resources/Private/template-html-files/projects.html
/packages/mywebsite/Resources/Private/template-html-files/resume.html
